<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Samuel Viaña Act #3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table >
            <tr>
                <td>
                    <a th:href="@{/agregar}">AGREGAR USUARIO</a>
                    <h4>LISTA DE PERSONAS</h4>

                    <div th:if="${usuarios != null and not #lists.isEmpty(usuarios)}">
                        <table border="1" align="center">
                            <tr>
                                <th>CEDULA:</th>
                                <th>CONTRASEÑA:</th>
                                <th>NOMBRES:</th>
                                <th>APELLIDOS:</th>
                                <th>ROL:</th>
                                <th>EMAIL:</th>
                                <th>TELEFONO:</th>
                                <th>ESTADO:</th>
                                <th>FECHA DE REGISTRO:</th>
                                <th>ACCIONES:</th> 
                            </tr>
                            <tr th:each="usuario : ${usuarios}">
                                <td th:text="${usuario.code}"></td>
                                <td th:text="${usuario.password}"></td>
                                <td th:text="${usuario.name}"></td>
                                <td th:text="${usuario.apellidos}"></td>
                                <td th:text="${usuario.rol}"></td>
                                <td th:text="${usuario.email}"></td>
                                <td th:text="${usuario.telefono}"></td>
                                <td th:text="${usuario.estado}"></td>
                                <td th:text="${usuario.fechaRegistro}"></td>
                                <td>
                                    <a th:href="@{/editar/{code}(code=${usuario.code})}">Editar</a> &nbsp;&nbsp;
                                    <a th:href="@{/eliminar/{code}(code=${usuario.code})}">Eliminar</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div th:if="${usuarios == null or #lists.isEmpty(usuarios)}">
                        La lista de Usuarios está vacía.
                    </div>
                </td>
            </tr>
        </table>


    </body>
</html>